p {
    text-align: center;
    font-size: 30px;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
    padding: 15px 10px 5px 5px;
    margin: 50px;
}

#coba {
    text-align: center;
    color: red;
}

.coba2 {
    text-align: center;
    color: green;
}